BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 0
ReflowComments: false
SortIncludes: false
IncludeBlocks: Preserve
IndentPPDirectives: BeforeHash
PointerAlignment: Right
AlignConsecutiveMacros: None
MaxEmptyLinesToKeep: 2
AlwaysBreakAfterReturnType: AllDefinitions
SpaceBeforeParens: ControlStatements
AllowShortIfStatementsOnASingleLine: WithoutElse
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: false
  AfterEnum: false
  AfterStruct: false
  AfterUnion: false
  AfterClass: false
  AfterNamespace: false
  AfterExternBlock: false
  BeforeElse: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
IndentCaseLabels: true
