# macOS artifacts
.DS_Store
.AppleDouble
.LSOverride
findings/
corpus/


# Editor metadata
.vscode-ctags

# Build directories
build/
dist/
findings/*
findings_*/

*.dSYM

# C intermediates
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe
